.root{
     /*-fx-background-color: linear-gradient(#383838, #838383);*/
     -fx-background-image: url("../../../../Resources/back2.jpg");
          -fx-background-position: left top, center;
          -fx-background-repeat: no-repeat;
          -fx-background-size: cover, auto;
     -fx-font-size: 10pt;
 }


.dialog-pane{
  -fx-border-color:linear-gradient(#383838, #838383);
  -fx-border-width:2.0px;
 }

/**Costumization of The Bar where the buttons are located**/
.dialog-pane > .button-bar > .container {
  -fx-background-color:linear-gradient(#183838, #238383);
}

.dialog-pane > .content.label {
   -fx-padding: 0.5em 0.5em 0.5em 0.5em;
   -fx-background-image: url("../../../../Resources/back3.jpg");
        -fx-background-position: left top, center;
        -fx-background-repeat: no-repeat;
        -fx-background-size: cover, auto;
        -fx-font-family: "Merienda";
   -fx-text-fill:#ff7b2a;
   -fx-font-size:15.0px;
   -fx-font-weight: bold;
}

/**Costumization of DialogPane Header**/
.dialog-pane:header .header-panel {
  -fx-background-color: linear-gradient(#183838, #238383);
}

.dialog-pane:header .header-panel .label{
  -fx-background-color: linear-gradient(#183838, #238383);
  -fx-background-radius:20px;
  -fx-font-family: "Georgia";
  -fx-text-fill:#ff7b2a;
  -fx-text-align: center;
  -fx-font-size:25.0px;
}


/**Costumization of Buttons**/
.dialog-pane .button{
   -fx-background-color: linear-gradient(#dc9556, #ab4642);
   -fx-background-radius: 10;
   -fx-background-repeat: no-repeat;
           -fx-background-size: cover, auto;
 }

.dialog-pane .button:hover{
  -fx-background-color:white;
  -fx-text-fill:black;
  -fx-font-weight:bold;
 }

 .label{
     -fx-text-fill: #e8e8e8;
  }

 .button{
-fx-background-color: linear-gradient(#dc9556, #ab4642);
-fx-background-radius: 10;
 }

 .button:hover{
   -fx-background-color:white;
   -fx-text-fill:black;
   -fx-font-weight:bold;
  }

 .text-area{
     -fx-background-color: white;
     -fx-background-radius: 0;
  }

 .menu-bar {
    -fx-background-color: linear-gradient(#383838, #838383);/* The menu bar itself */ }
 .menu { /* The File menu item */ }
 .menu:showing { /* menu when it's being shown (activated) */ }
 .menu .label { /* Styles the text on a menu item */ }
 .menu:showing .label { /* Styles the text on a menu item when activated */ }
 .context-menu {
     -fx-background-color: linear-gradient(#383838, #838383);
     -fx-skin-color: blue;
 }